
.body {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  gap: 0 35px;
  margin-top: 30px;

}

.container1{
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #f8fafb;
  position: sticky;
  height: max-content;
  top: 0px;
  padding: 2rem;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f69102 0%, #fc6e1e 100%);
  border: 1px solid #f5630c;
  padding: 15px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.info{
  padding: 0;
}

.info li{
  display: flex;
  font-size: 1rem;
  margin-bottom: 16px;
}

.label{
  font-size: 1.1rem;
}

.content__title {
  font-size: 2rem;
}

.cotent__desc {
  font-size: 1rem;
}

.list {
  font-size: 1rem;
  padding: 0;
}

.item {
  display: flex;
}

.item::before {
  content: '- ';
  font-size: 2rem;
  line-height: 1rem;
  display: inline-block;
  position: relative;
  bottom: -6px;
  margin-right: 1rem;
}