
.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 415px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.logo {
    width: 220px;
}

.wrap {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.nav__item {
    margin: 0 40px;
}

.nav__link {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

.login__btn {
    font-weight: 600;
    font-size: 20px;
    background-color: var(--primary);
    color: #fff;
    padding: 12px 20px;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.login__btn:hover {
    transform: scale(1.02);
    opacity: .9;
    box-shadow: 0 0 2px 0 var(--primary);
}

.banner {
    height: 755px;
    width: 100%;
    background: linear-gradient(#fff, var(--primary));
    padding: 500px 415px 125px;
    position: relative;
    z-index: 0;
}

.banner__girl {
    position: absolute;
    z-index: -1;
    height: 90%;
    bottom: 0;
    left: 450px;
}

.search__wrap {
    display: flex;
    justify-content: space-between;
}

.search__column {
    width: 33%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.input__wrap {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
}

.input__wrap + .input__wrap {
    margin-top: 32px;
}

.input {
    background-color: transparent;
    flex: 1;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px;
}

.input__wrap i {
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
}