.MuiSvgIcon-root.Mui-active,.Mui-completed>path{
    color: red!important;
}

.MuiButton-root.MuiButtonBase-root[type=submit]:not(:disabled){
    background:red !important;
}
.MuiButton-root.MuiButtonBase-root[type=button]{
    color: red;
}