.main {
    height: max-content;
    background: linear-gradient(#BF202E 50%, #91202e 50%);
    padding: 5vw ;
}

.footer__title h3 {
    padding-top: 32px;
    color: #fff;
    font-size: 2.3rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.north,
.south {
    flex: 1;
    color: #fff;
}

.north__detail,
.south__detail {
    line-height: 1.6;
    margin: 3vw auto;
    font-size: 1rem;
}

.north__detail span,
.south__detail span {
    margin-left: 65px;
}

.south {
    margin-left: 150px;
}

.social__title {
    font-size: 20px;
}

.social__list {
    display: flex;
    margin-top: 32px;
}

.social__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social__item+.social__item {
    margin-left: 32px;
}

.social__item p {
    font-size: 14px;
}

.social__link {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #e56426;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.social__link i {
    color: #fff;
    font-size: 20px;
}

@media (max-width: 62.5em) {
    .main {
        padding: 3vw;
    }

    .grid {
        flex-direction: column;
        align-items: flex-start;
    }

    .north {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .north__detail {
        margin: 3rem 0 2rem;
    }

    .north iframe {
        margin: auto;
        width: 100%;
        height: 300px;
    }

    .south {
        margin: 0;
        width: 100%;
    }

    .social__title {
        text-align: center;
    }

    .social__list {
        justify-content: center;
        padding: 0;
    }
}