/* ========================================= IMPORT FONT ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "~rsuite/dist/rsuite.min.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/*=========================================== VARIABLE=========================================== */
:root {
  --primary: #e90000;
  --primary-txt: #353535;
  --darkred: #a0202f;
  --lightred: #ef7681;
}

/* ========================================== RESET CSS ========================================== */
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  will-change: auto;
}
/* Track */
::-webkit-scrollbar {
	background-color: #edeae8 ;
  border-radius: 90px;
  width:10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {  
	background-color:  #cccccc ;
  border-radius: 90px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary) ; 
} 
body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-txt);
}

button,
input {
  outline: none;
  border: none;
}

/* ================================== RENGULAR CSS ================================== */
html {
  font-family: 'Roboto', serif;
  color: var(--primary-txt);
}

a:hover {
  text-decoration: none !important;
}
.title {
  font-size: 1.7rem;
  color:var( --primary);
  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}
.MuiAccordion-gutters {
  box-shadow: none !important;
}
.accordion .MuiButtonBase-root {
  overflow: hidden;
}

.accordion .MuiPaper-root + .MuiPaper-root {
  margin-top: 32px;
}

.accordion .MuiButtonBase-root::after {
  content: "";
  display: block;
  padding: 100px;
  background-color:#f47d20;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-90%, -50%) ;
  border-radius: 50%;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn-active, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover {
  border-color:#f47d20;
}
.rs-picker-toggle-active, .rs-picker.rs-picker-focused {
  box-shadow: none;
}
.rs-picker-select-menu-item.rs-picker-select-menu-item-focus, .rs-picker-select-menu-item:focus, .rs-picker-select-menu-item:hover {
  background-color: rgb(247 212 224); 
  color: #ed1b24;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: #ed1b24;
}
.thumnailBox {
  height:300px;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}










.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block }.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.slick-dots,.slick-next,.slick-prev{position:absolute;display:block;padding:0}.slick-dots li button:before,.slick-next:before,.slick-prev:before{font-family:slick;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale};.slick-next,.slick-prev{font-size:0;line-height:0;top:50%;width:15px !important;height:15px !important;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:0;background:0 0}.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{color:transparent;outline:0;background:0 0}.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}.slick-next:before,.slick-prev:before{font-size:23px;line-height:1;opacity:1;color:#fff}.slick-prev{left:-25px}[dir=rtl] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:'←'}.slick-next:before,[dir=rtl] .slick-prev:before{content:'→'}.slick-next{right:-25px}[dir=rtl] .slick-next{right:auto;left:-25px}[dir=rtl] .slick-next:before{content:'←'}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{bottom:-25px;width:100%;margin:0;list-style:none;text-align:center}.slick-dots li{position: relative;
    display: inline-block;
    width: 30px; 
    margin: 0 5px 25px; 
    opacity: 1;}.slick-dots li.slick-active button{background: var(--main-color-content)}.slick-dots li button:focus,.slick-dots li button:hover{outline:0}.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}.slick-dots li button:before{font-size: 25px;line-height: 13px;position: absolute;top: 0px;left: 0;width: 15px;height: 15px;text-align: center;opacity: .5;color: var(--main-color-content);}.slick-dots li.slick-active button:before{
        opacity: 1;
        color: transparent;
        background: var(--second-color-content);
        width: 10px;
        border-radius: 5px;
        height: 10px;
        margin-top: 2px;
        border: 2px solid var(--main-color-content);}

	
	.slick-dots li.slick-active  {
		opacity: 1;
	} 
    li.slick-active > button {
        border: 2px solid var(--second-color-content)
    }