/* ========================================= IMPORT FONT ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "~rsuite/dist/rsuite.min.css";
/*=========================================== VARIABLE=========================================== */
:root {
  --primary: #b90943;
  --primary-txt: #353535;
  --darkred: #a0202f;
  --lightred: #ef7681;
}

/* ========================================== RESET CSS ========================================== */
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-txt);
}

button,
input {
  outline: none;
  border: none;
}

/* ================================== RENGULAR CSS ================================== */
html {
  font-family: 'Roboto', serif;
  color: var(--primary-txt);
}
/* Track */
::-webkit-scrollbar-track {
	background-color: #edeae8 ;
  border-radius: 90px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {  
	background-color: #edeae8 ;
  border-radius: 90px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red ; 
} 
a:hover {
  text-decoration: none !important;
}
.title {
  font-size: 2rem;
  color:var( --primary-txt);
  font-weight: 700;
  font-family: sans-serif;
}
.MuiAccordion-gutters {
  box-shadow: none !important;
}
.accordion .MuiButtonBase-root {
  overflow: hidden;
}

.accordion .MuiPaper-root + .MuiPaper-root {
  margin-top: 32px;
}

.accordion .MuiButtonBase-root::after {
  content: "";
  display: block;
  padding: 100px;
  background-color:#f47d20;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-90%, -50%) ;
  border-radius: 50%;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn-active, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover {
  border-color:#f47d20;
}
.rs-picker-toggle-active, .rs-picker.rs-picker-focused {
  box-shadow: none;
}
.rs-picker-select-menu-item.rs-picker-select-menu-item-focus, .rs-picker-select-menu-item:focus, .rs-picker-select-menu-item:hover {
  background-color: rgb(247 212 224); 
  color: #ed1b24;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: #ed1b24;
}