.banner {
    max-height: 50vh;
    height:50vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 10rem;
}

.banner_input {
    padding-top: 5rem;
    max-width: 100%;
    gap: 1rem 0;
    display:flex;
    justify-content: space-between;
}

input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.banner_button{
    position: absolute;
    right: 0;
    padding: 10px;
    background: transparent
}

@media (min-width:40em) and (max-width: 62.5em) {
    .banner{
        background-size: contain;
        padding-top: 25rem;
    }
}
@media (max-width: 40em) {
    .banner{
        background-size: contain;
        padding-top: 14rem;
    }
}