.main {
    height: 460px;
    width: 100%;
    position: relative;
    background-image: url(../../../public/images/banner__3.jpg);
    background-size: cover;
}

.social__list {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%) translateY(50%);
    z-index: 5;
}

.social__item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
    margin: 0 30px;
}

.social__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 135px;
    color: var(--primary);
}

.social__link i{
    font-size: 40px;
    transition: 1s ease-in-out;
}

.social__link:hover i {
    transform: rotateY(360deg);
}

.social__item span{
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
}